table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

thead {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #e1e1e1;
}

tr:not(:first-child):hover{
    background-color: rgb(188, 188, 188);
}

thead th{
    text-align: center;
}