table{
    width: 40vw;
    height: 8vh;
    margin: 0 auto;
}
input{
    width: 96%;
    border: none;
    outline: none;
}
td{
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 3px;
}
button{
    background-color: white;
    color: blue;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: all 1s;
    font-weight: bold;
}
button:hover{
    background-color: blue;
    color: white;
}